{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">{{ person.username }}님의 프로필</h1>

  {% comment %} 팔로워/팔로잉 목록 추가 점보트론 요소 불러오기 {% endcomment %}
  {% include 'accounts/_follow.html' %}

  <hr>
  <h2>{{ person.username }}'s 게시글</h2>
    {% for article in person.article_set.all %}
      <div>{{ article.title }}, 좋아요 개수: {{ article.like_users.all|length }}</div>
    {% endfor %}
  <hr>
  <h2>{{ person.username }}'s 댓글</h2>
    {% for comment in person.comment_set.all %}
      <div>{{ comment.content }}</div>
    {% endfor %}
  <hr>
  <h2>{{ person.username }}'s 좋아요한 게시글</h2>
    {% for article in person.like_articles.all %}
      <div>{{ article.title }}</div>
    {% endfor %}
  <hr>
  <a href="{% url 'articles:index' %}">back</a>

{% endblock content %}