{% extends 'base.html' %}

{% block content %}
    <h1>NEW</h1>
    <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}
        <label for="title">TITLE: </label>
        <input type="text" name="title" id="title"><br>
        {% comment %} 위에서, id와 label의 for가 연결이 된다. {% endcomment %}
        <label for="content">CONTENT: </label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
        <input type="submit" value="write">
    </form>

    <a href="{% url 'articles:index' %}">Main Page</a>

{% endblock content %}
